# Limit data to 1 station for MIMO vs SISO comparison

Read MIMO calendar data:

In [17]:
import pandas as pd

run_directory_prefix = "../models/NarxModelSearch/data/O3_BETN_calendar_1995To2019_single_BETN073/"
file_name = "O3_BETN_ts_standardized.csv"

df = pd.read_csv(run_directory_prefix + file_name)

In [18]:
df.head(5)

,Unnamed: 0,O3_BETN073,PARCS,CI,RSN,SST,ISTL1,ISTL2,ISTL3,ISTL4,...,FSR,sin_cyclical_month,cos_cyclical_month,sin_cyclical_day_of_week,cos_cyclical_day_of_week,sin_cyclical_day_of_year,cos_cyclical_day_of_year,sin_cyclical_week_of_year,cos_cyclical_week_of_year,O3_BETN073-1
0,0,-1.187404,-1.463214,0.0,-0.18633,-0.339113,-0.692925,-0.753160,-1.043414,0.0,...,1.020874,0.004443,1.419834,4.846884e-17,1.154519,-0.000050,1.418563,-0.002633,1.447778,-1.187400
1,1,-1.716222,-1.457488,0.0,-0.18633,-0.340896,1.532303,2.019930,-0.152235,0.0,...,1.020871,0.004443,1.419834,1.322876e+00,0.480986,0.024200,1.418354,-0.002633,1.447778,-1.187400
2,2,-1.121919,-1.453620,0.0,-0.18633,-0.342679,0.028770,1.451091,1.295931,0.0,...,1.020969,0.004443,1.419834,1.322876e+00,-0.866080,0.048444,1.417729,-0.002633,1.447778,-1.716212
3,3,-1.675825,-1.450006,0.0,-0.18633,-0.342234,-1.113915,-1.606418,1.630123,0.0,...,-0.400171,0.004443,1.419834,2.355367e-16,-1.539613,0.072673,1.416686,-0.002633,1.447778,-1.121915
4,4,-1.619676,-1.445090,0.0,-0.18633,-0.340896,-0.753067,0.526728,1.295931,0.0,...,1.020896,0.004443,1.419834,-1.322876e+00,-0.866080,0.096880,1.415227,-0.002633,1.447778,-1.675815

Remove all stations except one (BETN073):

Boxplot comparison (MSE, MAE, SMAPE on test) of 1-station model vs MIMO model on one-station only (BETN073):